/*
#shiny-notification-panel{
  width:calc( 100vw - 240px );
  min-width: 300px;
}
.content {
  margin:0 !important;
  padding:0 !important;
  overflow: hidden;
}
 

.irs--shiny .irs-bar {
  display: none;
}
.sideButtons {
  color:#000 !important;
}
*/
section.sidebar .shiny-input-container {
  margin-bottom: 0px !important;
}
.logo{
  background-image: url("img/logocirgeoUNIPD-TESAF3.png");
  background-repeat: no-repeat; 
    background-size: contain;
    /* background-color: transparent !important; */
    text-align: right !important;
    background-color: #ffffff !important;
    color: #b00000 !important;
    font-weight: 500 !important;
    letter-spacing: 1.4px !important;
    font-size: 24px !important;
}
#scaricaPoligoni, #scaricaIndice, #scaricaTabellaValori, #scaricaImmagini {
    margin: 5px 15px;
    color: black;
}
#shiny-notification-panel{
  width:100% !important;
  background-color: #eaeaea55; 
}
.leaflet-control-layers{
  font-size: small;
}
#mymap { 
  height:calc(100vh - 55px) !important;
  width:100%;
  overflow: hidden; 
}
.leaflet-layer{ 
  height:calc(100vh - 55px) !important;
  width:100%; 
}
.lnlt {
  position:absolute !important;
  bottom:5px;
  left:5px; 
  font-size: 12px;
}
.content{ 
  padding:0 !important; 
}   
.leaflet-tile-container img {
    width: 256.8px !important;
    height: 256.8px !important;
}

.legendHR { margin:0; }

.leaflet-top.leaflet-left{
  position:static;
}
 
.sw-show.sw-dropdown-content, .sw-dropdown-in {
    z-index:9999;
    min-width:225px;
    background:#333333;
    padding-bottom: 10px;
}

.airdatepicker-highlighted {
  color: #fff;
  background: #333333;
}