/*
#shiny-notification-panel{
  width:calc( 100vw - 240px );
  min-width: 300px;
}
.content {
  margin:0 !important;
  padding:0 !important;
  overflow: hidden;
}
 

.irs--shiny .irs-bar {
  display: none;
}
.sideButtons {
  color:#000 !important;
}
*/

.logo{
  background-image: url("img/logocirgeoUNIPD-TESAF.png");
  background-repeat: no-repeat; 
    background-size: contain;
    /* background-color: transparent !important; */
    text-align: right !important;
    background-blend-mode: multiply;
}
#scaricaPoligoni, #scaricaIndice, #scaricaTabellaValori {
    margin: 5px 15px;
    color: black;
}
#shiny-notification-panel{
  width:100% !important;
  background-color: green; 
}
.leaflet-control-layers{
  font-size: small;
}
#mymap { 
  height:calc(100vh - 100px) !important;
  overflow: hidden; 
}
   
.leaflet-tile-container img {
    width: 256.8px !important;
    height: 256.8px !important;
}

.legendHR { margin:0; }

.leaflet-top.leaflet-left{
  position:static;
}
.sw-dropdown-in{
  padding:1;
}
.sw-show.sw-dropdown-content, .sw-dropdown-in {
    z-index:9999;
    min-width:200px;
    background:black;
}

.airdatepicker-highlighted {
  color: #fff;
  background: #333333;
}