#shiny-notification-panel{
  width:calc( 100vw - 240px );
  min-width: 300px;
}
.content {
  margin:0 !important;
  padding:0 !important;
  overflow: hidden;
  
}
 

.irs--shiny .irs-bar {
  display: none;
}
.sideButtons {
  color:#000 !important;
}

.leaflet-control-layers{
  font-size: small;
}
#mymap { 
  height:calc(100vh - 130px) !important;
  overflow: hidden;
  
}
   
.leaflet-tile-container img {
    width: 256.8px !important;
    height: 256.8px !important;
}

.legendHR { margin:0; }

.sw-dropdown-in{
  padding:1;
}
#sidebarCollapsed, .sw-show.sw-dropdown-content {
    z-index:9999;
}
.sw-show.sw-dropdown-content {
    min-width:200px;
}